:root {
	--body-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--display-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--font-size: calc(1rem + 0.15vw);
	--font-size-lead: calc(1.2rem + 0.1vw);
	--font-size-small: calc(0.9rem + 0.1vw);
	--font-size-h1: calc(2rem + 0.2vw);
	--font-size-h2: calc(1.8rem + 0.2vw);
	--font-size-h3: calc(1.5rem + 0.2vw);
	--font-size-h4: calc(1.3rem + 0.2vw);
	--font-size-h5: calc(1.2rem + 0.2vw);

	--font-weight-light: 100;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--font-weight-heavy: 900;
	--font-weight-heavy: var(--font-weight-bold);

	--line-height: 1.5;
	--line-height-headings: 1.2;

	--color-grey-dark: #6a6a6a;
	--color-grey: #ddd;
	--color-grey-light: #efefef;

	--color-primary: #59BACC;
	--color-secondary: #58AD69;
	--color-tertiary: #FFBC49;
	--color-quaternary: #E2574C;

	--color-text-base: #333;
	--color-text-dark: #181822;
	--color-text-reversed: #fff;
	--color-text-link: #0087D0;
	--color-text-hover: #003451;

	--color-facebook: #3B5998;
	--color-twitter: #1DA1F2;
	--color-instagram: #262626;
	--color-youtube: #cc181e;
	--color-linkedin: #0077B5;

	--body-background-color: #fff;

	--border-radius: 16px;

	--spacing-xxl: 3em;
	--spacing-xl: 2em;
	--spacing-l: 1.5em;
	--spacing: 1em;
	--spacing-s: 0.5em;
	--spacing-xs: 0.25em;

	--container-width: 75rem;
	--container-width-l: 100rem;
	--content-width: 50rem;

	@include mq(large) {
		--font-size-h1: calc(3.2rem + 0.2vw);
		--font-size-h2: calc(2rem + 0.2vw);
		--font-size-h3: calc(1.6rem + 0.2vw);
		--font-size-h4: calc(1.4rem + 0.2vw);
		--font-size-h5: calc(1.2rem + 0.2vw);
	}
}
