/* Generate block colours */
@each $name, $color in $block-colors {
	.has-#{$name}-color {
		color: $color!important;
	}

	.has-#{$name}-background-color {
		background-color: $color!important;
	}
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
	pointer-events: none!important;
}

/* Add bullets to list */
.block-editor-block-list__block {
	list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
	max-width: var(--content-width);

	/* Post title styling */
	.editor-post-title__input {
	}
}

/* Main column width */
.wp-block {
	display: flex !important;
	max-width: 100%;
	/* Wide column width */
	&[data-align="wide"],
	&[data-align="full"] {
		max-width: none;
	}
}

.acf-block-component {
	width: 100%;
}

// Undo blockquote styles
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 0;
	padding-left: 0;
}

// Fix space between image and caption
.wp-block-image {
	line-height: 0;
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
	.components-resizable-box__container {
		width: 100% !important;

	}
}

// Full width button
.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
	display: block;
}

// Separator
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}
.wp-block-post-title,
.editor-styles-wrapper h1,
.editor-styles-wrapper .heading-1  {
	font-size: 2rem;
}
.wp-block-paragraph,
.wp-block-image,
.wp-block-list,
.wp-block-heading {
	max-width: var( --container-s);
	margin-right: auto;
	margin-left: auto;
}

.wp-block-list {
	flex-direction: column;
}

.images {
	&-slider {
		&__item {
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
}