# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!.editorconfig
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
!wp-content/plugins/site-functionality/

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/doyle/

# Make sure these files are hidden
.sass-cache/*
.DS_Store
.env
node_modules
*.log
*.sql
*.sqlite
*.bak
Thumbs.db