.cta {
	@extend .container;
	@include mq($until: medium) {
		padding: 0;
		// margin-bottom: 0;
	}
	&__content {
		text-align: center;
		padding: var(--spacing-s);
		@include mq(large) {
			padding: var(--spacing) var(--spacing-xxl);
		}
	}
}

.cta.bkg--white + .bkg--white {
	@include mq($until: medium) {
		padding-top: var(--spacing-s);
	}
}