.featured-case-studies {
    @extend .container;
	&-list {
		display: flex;
		margin-bottom: 2rem;
        flex-direction: column;
        @include mq(medium) {
            flex-direction: row;
            margin: 0 0.75rem;
        }

		&__item {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			color: white;
			text-decoration: none;
            margin: 0 0 1rem 0;
			@include mq(medium) {
				width: calc(100% /  2);
				margin: 0 0.75rem;
			}
			&:first-of-type {
				@include mq(medium) {
					margin-left: 0;
				}
			}
			&:last-of-type {
				@include mq(medium) {
					margin-right: 0;
				}
			}
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 0;
				position: absolute;
				background-color: var(--color-grey-dark);
				transition: transform .1s ease-in-out;
			}
			&:hover {
				text-decoration: none;
				transition: all .2s ease-in-out;
				color: white;
				h3 {
					text-decoration: underline;
				}
                .link {
                    color: var(--color-primary);
                }
				&:after {
					transform: scale(1.05,1.05);
					background-color: var(--color-grey-dark);
				}
			}
            .link {
                margin-top: 1rem;
            }
			img {
				z-index: 1;
			}
		}
		&__button {
			width: 100%;
			text-align: center;
			margin: var(--spacing-s) 0;
		}
		&__content {
			height: 100%;
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			font-weight: var(--font-weight-light);
			padding: var(--spacing-s) var(--spacing-s) var(--spacing) var(--spacing-s);
		}
	}
}