.accordion {
	@extend .container;
	h2 {
		margin-bottom: 3rem;
	}
}

.accordion__item {
	background-color: var(--color-grey);
	margin-bottom: 1rem;
}

.accordion__handle {
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: relative;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	cursor: pointer;
	&:hover, &:focus {
		background-color: var(--color-grey);
	}
	
}
.accordion__handle.is-active {
	.accordion__icon {
		transform: translateY(-5px) rotate(0deg);
		color: white;
	}
}

.accordion__title {
	margin: 0!important;
	padding: 1rem 4rem 1rem 20px;
	color: var(--color-text-dark);
	font-size: var(--font-size-h4);
	flex: 1;
	@include mq(medium) {
		padding: 1rem calc(var(--spacing-s) + 2rem) 1rem var(--spacing-s);
	}

	.is-active & {
		color: white;
		background-color: var(--color-primary);
	}
}

.accordion__icon {
    position: absolute;
	right: 1rem;
    width: 32px;
	height: 20px;
	transform: translateY(5px) rotate(180deg);
	// margin: 0 var(--spacing);
	@include mq(medium) {
		right: var(--spacing-s);
	}

	.icon {
		color: var(--color-text-dark);
		width: 32px;
		height: 20px;
	}
	.is-active & {
        &:before { transform: rotate(90deg); }
        &:after { transform: rotate(180deg); }
		.icon {
			color: white;
		}
    }
}

.accordion__body {
	display: none;
	padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-s) var(--spacing-xs);
	background-color: white;
	@include mq(medium) {
		padding: var(--spacing-xs) var(--spacing-s) var(--spacing-s) var(--spacing-s);
	}

	p:first-child {
		margin-top: 0;
	}

	&.is-open {
		display: block;
	}
}

