.btn, button {
	display: inline-block;
	border-radius: 60px;
	padding: 0.4rem 2rem;
	border: none;
	color: white;
	background-color: var(--color-primary);
	// height: 40px;
	// line-height: 40px;
	font-family: var(--display-family);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size);
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	text-decoration: none;

	&:hover, &:focus {
		outline: 0;
		text-decoration: none;
		color: white;
		background-color: var(--color-primary-light);
	}
}
.btn-small {
	padding: 0.2rem 1rem;
}

.btn--secondary {
	background-color: white;
	color: var(--color-primary);

	&:hover, &:focus {
		color: var(--color-primary);
		background-color: rgba(255,255,255,0.8);
	}
}
.btn--outline {
	background-color: transparent;
	color: white;
	border: 1px solid white;

	&:hover, &:focus {
		color: white;
		background-color: rgba(255,255,255,0.2);
	}
}
