.content {
	> * {
		max-width: var(--content-width);
		margin-right: auto;
		margin-left: auto;
	}

	h2,
	h3,
	h4,
	h5 {
		margin-top: var(--spacing-l);
		margin-bottom: 0;
	}

	a {
		color: var(--link-color);
		text-decoration: underline;
		text-decoration-color: var(--link-hover-color);
	}

	a:hover {
		color: var(--link-hover-color);
		text-decoration: underline;
	}

	blockquote {
		max-width: none;
		font-size: var(--font-size-h3);
		line-height: 1.4;
		margin: var(--spacing-l) 0;
	}

	figure {
		max-width: none;
		margin: var(--spacing-xl) 0;
	}

	figcaption {
		padding: 1em 0;
		font-size: var(--font-size-xs);
		color: var(--color-text-dark);
		max-width: var(--content-width);
		margin-right: auto;
		margin-left: auto;
		border-bottom: 1px solid var(--color-grey-light);
	}

	ul {
		list-style: disc;
		margin-top: 1.5em;
		padding-left: 1rem;
	}

	li {
		margin-bottom: 0.25em;
	}
}
