body.nav-open {
	overflow: hidden;
}


.site-header--nav__mobile {
	
}
.site-header--nav__mobile.is-active {
	transform: translateX(-100%);
	transition: all 0.2s ease-in-out;
	background-color: var(--color-black);
}

.site-header {
	&--nav {
		background-color: var(--color-black);
		&-btn {
			position: absolute;
			right: 1.5rem;
			cursor: pointer;
			overflow: visible;
			background: none;
			border: 0;
			outline: none !important;
			display: block;
			// margin-top: 7px;
			z-index: 4;
			padding: 0;
			@media only screen and (min-width: 1044px) {
				display: none;
			}
			&:hover, &:focus {
				background: none;
			}
		}

		&__mobile {
			overflow: auto;
			position: fixed;
			padding: 50px 1rem;
			right: -100%;
			top: 0;
			width: 100%;
			height: 100vh;
			z-index: 3;
			background: transparent;
			transition: all 0.2s ease-in-out;
			display: block;
			@media only screen and (min-width: 1040px) {
				display: none;
			}
			ul {
				padding-left: 0;
				margin: 0;
				li {
					width: 100%;
					padding: 0;
					position: relative;
					a {
						display: flex;
						width: 100%;
						border-bottom: 1px solid rgba(239, 239, 239, 0.3);
						color: white;
						padding: 0.5rem;
						font-size: 1.2rem;
						text-decoration: none;
						&:hover {
							color: var(--color-primary);
						}
					}
					.dropdown-button {
						padding: 1.1rem;
						width: 54px;
						position: absolute;
						right: 0;
						top: 0;
						content: url("../../src/icons/arrow-dropdown.svg");
						&:hover {
							cursor: pointer;
							// background: rgba(239, 239, 239, 0.1);
						}
					}
					.dropdown-button.is-active {
						transform: rotate(-180deg);
					}
					.sub-menu {
						display: none;
						a {
							padding-left: 2rem;
						}
						.sub-menu a {
							padding-left: 4rem;
						}
					}
				}
				.menu-search {
					margin-top: 1rem;
					padding-top: 0.5rem;
					border-top: 1px solid rgba(255,255,255,0.2);
				}
			}
		}
	}
}