.mixitup-page-list {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	button {
		background-color: white;
		color: var(--color-text-dark);
		border: 2px solid rgba(0, 0, 0, 0.2);
		border-radius: 0;
		padding: 0.5rem 1.2rem;
		font-size: 16px;
		&:hover {
			background-color: var(--color-text-base);
			color: white;
		}
	}
	.mixitup-control {
		margin: 0 2px;
		&-active {
			background-color: var(--color-text-base);
			color: white;
		}
		&-prev,
		&-next {
			border: 0;
			&:hover {
				background: white;
				color: var(--color-text-base);
				text-decoration: underline;
			}
		}
		&-disabled {
			opacity: 0.2;
		}
	}
}