.site-header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	transition: all 0.2s ease-in-out;
	z-index: 99;

	&__up {
		background-color: rgba(0,0,0,1);
	}
	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		p {
			text-transform: uppercase;
			font-size: var(--font-size-small);
			color: white;
		}
	}
}

.site-header__inner {
	@extend .container;
	display: flex;
	justify-content: space-between;
	// align-items: baseline;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site-header__logo {
	font-size: 2rem;
	margin: 0;
	width: 173px;
	height: 60px;
}

.site-header__nav {
	display: none;

	@include mq(medium) {
		display: block;
	}
}

.site-header__nav ul {
	display: flex;
	margin: 0;
}

.site-header__nav li {
	margin-left: 1rem;
	line-height: 100%;
	a {
		color: white;
	}

	.sub-menu {
		display: none;
	}
}

.site-header__menu-btn {
	background: black;
	color: white;
	border: 0;

	@include mq(medium) {
		display: none;
	}
}
