.link-list {
	@extend .container;
	display: flex;
	flex-direction: column;
	@include mq(medium) {
		flex-direction: row;
	}
	&__item {
		position: relative;
		background-color: white;
		border-radius: var(--border-radius);
		width: calc(100% - 2rem);
		text-decoration: none;
		color: var(--color-text-base);
		margin: 0 1rem 1.5rem 1rem;
		transition: transform .1s ease-in-out;
		@include mq(medium) {
			width: calc(100% / 3);
			margin: 0 0.75rem;
		}
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 0;
			position: absolute;
			background-color: white;
			border-radius: var(--border-radius);
			transition: transform .1s ease-in-out;
		}
		&:hover {
			text-decoration: none;
			transition: all .2s ease-in-out;
			h3 {
				text-decoration: underline;
			}
			.btn {
				background-color: var(--color-primary-light);
			}
			&:after {
				transform: scale(1.05,1.05);
			}
		}

		&:first-of-type {
			@include mq(medium) {
				margin-left: 0;
			}
		}
		&:last-of-type {
			@include mq(medium) {
				margin-right: 0;
			}
		}
	}
	&__content {
		height: 100%;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: var(--spacing-s);
		p:last-of-type {
			margin-bottom: 1.5rem;
		}
		.btn {
			margin-top: auto;
		}
	}
	&__image {
		width: 80px;
		height: 80px;
		margin-bottom: 1.5rem;
		img {
			width: 100%;
			height: 100%;
		}
	}
}