.quote {
	@extend .container;
	@include mq($until: medium) {
		padding: 0;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: var(--spacing-s);
		border-bottom: 10px solid var(--color-primary);
		@include mq(medium) {
			padding: var(--spacing);
		}

		img {
			width: 40px;
			margin-bottom: var(--spacing-s);
		}
	}
}