@charset "UTF-8";
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}
body:before {
  display: none;
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}

:root {
  --body-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --display-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-heavy: 700;
  --line-height: 1.5;
  --line-height-headings: 1.1;
  --color-black: #0A0A0A;
  --color-grey-dark: #1D1D1D;
  --color-grey: #F4F4F4;
  --color-grey-light: #efefef;
  --color-primary: #DB251C;
  --color-primary-light: #E25149;
  --color-secondary: #00AFAD;
  --color-tertiary: #FFBC49;
  --color-quaternary: #E2574C;
  --color-text-base: #000;
  --color-text-dark: #181822;
  --color-text-reversed: #fff;
  --color-text-link: var(--color-text-base);
  --color-text-hover: var(--color-primary);
  --color-facebook: #3B5998;
  --color-twitter: #1DA1F2;
  --color-instagram: #262626;
  --color-youtube: #cc181e;
  --color-linkedin: #0077B5;
  --body-background-color: #fff;
  --mobile-menu: 1020px;
  --border-radius: 20px;
  --spacing-xxl: 200px;
  --spacing-xl: 120px;
  --spacing-l: 100px;
  --spacing: 70px;
  --spacing-s: 50px;
  --spacing-xs: 25px;
  --spacing-base: 1rem;
  --container-s: 800px;
  --container: 1200px;
  --container-l: 1430px;
  --content-width: var(--container);
  --container-global: 1800px;
  --font-size: 1.05rem;
  --font-size-lead: calc(1.2rem + 0.1vw);
  --font-size-small: calc(0.7rem + 0.1vw);
  --font-size-h1: 3rem;
  --font-size-h1-small: 2.4rem;
  --font-size-h2: 1.9rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.4rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 1rem;
}
@media (min-width: 50em) {
  :root {
    --font-size-h1: calc(4rem + 1vw);
    --font-size-h1-small: calc(3rem + 1vw);
    --font-size-h2: calc(2.2rem + 0.2vw);
    --font-size-h3: calc(2rem + 0.2vw);
    --font-size-h4: calc(1.4rem + 0.2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}
@media (min-width: 70em) {
  :root {
    --font-size-h1: calc(5rem + 1vw);
    --font-size-h1-small: calc(3.5rem + 1vw);
    --font-size-h2: calc(1.7rem + 1vw);
    --font-size-h3: calc(1.6rem + 0.2vw);
    --font-size-h4: calc(1.2rem + 0.2vw);
    --font-size-h5: calc(1rem + 0.2vw);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--body-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
  color: var(--color-text-base);
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-nav {
  background: #eee;
  color: var(--color-text-base);
  border-radius: 8px;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-xs);
}
p:last-of-type {
  margin-bottom: 0;
}

p.lead, p.careers__content-meta__item {
  font-size: var(--font-size-lead);
  font-weight: var(--font-weight-light);
}

strong {
  font-weight: var(--font-weight-bold);
}

ul,
ol {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin: 0;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-dark);
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: var(--spacing-xs);
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-bold);
  color: var(--heading-color);
}

h1, .heading-1 {
  font-size: var(--font-size-h1);
}

h2, .heading-2 {
  font-size: var(--font-size-h2);
}

h3, .heading-3 {
  font-size: var(--font-size-h3);
}

h4, .heading-4 {
  font-size: var(--font-size-h4);
}

h5, .heading-5 {
  font-size: var(--font-size-h5);
}

h6, .heading-6 {
  font-size: var(--font-size-h6);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75em;
  font-style: normal;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

pre {
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: auto;
  width: calc(96vw - 2em);
  line-height: 1.3;
}

/* Generate block colours */
.has-white-color {
  color: #fff !important;
}

.has-white-background-color {
  background-color: #fff !important;
}

.has-black-color {
  color: #000 !important;
}

.has-black-background-color {
  background-color: #000 !important;
}

.has-primary-color {
  color: var(--color-primary) !important;
}

.has-primary-background-color {
  background-color: var(--color-primary) !important;
}

.has-secondary-color {
  color: var(--color-secondary) !important;
}

.has-secondary-background-color {
  background-color: var(--color-secondary) !important;
}

.has-tertiary-color {
  color: var(--color-tertiary) !important;
}

.has-tertiary-background-color {
  background-color: var(--color-tertiary) !important;
}

.has-quaternary-color {
  color: var(--color-quaternary) !important;
}

.has-quaternary-background-color {
  background-color: var(--color-quaternary) !important;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
  pointer-events: none !important;
}

/* Add bullets to list */
.block-editor-block-list__block {
  list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: var(--content-width);
  /* Post title styling */
}
/* Main column width */
.wp-block {
  display: flex !important;
  max-width: 100%;
  /* Wide column width */
}
.wp-block[data-align=wide], .wp-block[data-align=full] {
  max-width: none;
}

.acf-block-component {
  width: 100%;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-image {
  line-height: 0;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}
.wp-block-image .components-resizable-box__container {
  width: 100% !important;
}

.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100%;
}

.wp-block-post-title,
.editor-styles-wrapper h1,
.editor-styles-wrapper .heading-1 {
  font-size: 2rem;
}

.wp-block-paragraph,
.wp-block-image,
.wp-block-list,
.wp-block-heading {
  max-width: var(--container-s);
  margin-right: auto;
  margin-left: auto;
}

.wp-block-list {
  flex-direction: column;
}

.images-slider__item {
  display: none;
}
.images-slider__item:first-child {
  display: block;
}

.post-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  border-bottom: 1px solid #979797;
  height: 100vh;
  color: white;
  text-align: center;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea,
select {
  width: 100%;
  height: 42px;
  padding: 0 0.8rem;
  background-color: #EFEFEF;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  min-height: 150px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--color-grey-dark);
  outline: 0;
}

label {
  display: block;
  margin: 0 0 0.2rem 0;
  font-size: 16px;
  text-align: left;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

input[type=submit],
input[type=reset],
input[type=button] {
  display: block;
  padding: 1em;
  margin: 0.5em 0;
  background: var(--color-primary);
  color: #fff;
  border-radius: var(--border-radius);
  transition: all 0.2s linear;
  border: 0;
}

input[type=submit].center,
input[type=reset].center,
input[type=button].center {
  margin: 0 auto;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
  background: var(--color-grey);
  text-decoration: none;
  color: #fff;
}

.required {
  color: #BF5D58;
}

.gf_page_steps {
  display: flex;
  width: 100%;
  margin-bottom: var(--spacing-s);
}

.gf_step {
  font-weight: var(--font-weight-light);
  opacity: 0.5;
  margin-right: 1rem;
}
@media (min-width: 50em) {
  .gf_step {
    margin-right: 10%;
  }
}

.gf_step_active {
  font-weight: var(--font-weight-bold);
  opacity: 1;
}

.gfield:not(:first-child) {
  margin-top: 1rem;
}

.gform_page_footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gform_page_footer input[type=button] {
  min-width: 120px;
}
.gform_page_footer input[type=submit] {
  margin-top: 0.5rem;
}

.gform_save_link {
  display: none;
  color: var(--color-black);
  padding: 0;
  font-weight: var(--font-weight-normal);
}
.gform_save_link:hover, .gform_save_link:focus {
  color: var(--color-black);
}
.gform_save_link svg {
  display: none;
}

input[type=submit] {
  margin-top: 2rem;
}

.gform_heading {
  display: none;
}

.gfield_required_asterisk {
  color: var(--color-primary);
  margin-left: 0.2rem;
}

.gform_validation_errors {
  color: var(--color-primary);
  font-size: var(--font-size-lead);
}
.gform_validation_errors h2 {
  font-size: var(--font-size-lead);
}

.validation_message {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container, .video_list, .video, .team-members, .stats, .quote, .news, .link-list, .images, .form-block, .files, .featured-services, .related-news, .featured-news, .cta, .content-block, .case-studies, .careers, .banner__content, .accordion, .two-col__video, .two-col, .main,
.container-s,
.featured-services__intro {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: var(--container);
}
@media (min-width: 50em) {
  .container, .video_list, .video, .team-members, .stats, .quote, .news, .link-list, .images, .form-block, .files, .featured-services, .related-news, .featured-news, .cta, .content-block, .case-studies, .careers, .banner__content, .accordion, .two-col__video, .two-col, .main,
.container-s,
.featured-services__intro {
    padding: 0 4em;
  }
}
@media (min-width: 80em) {
  .container, .video_list, .video, .team-members, .stats, .quote, .news, .link-list, .images, .form-block, .files, .featured-services, .related-news, .featured-news, .cta, .content-block, .case-studies, .careers, .banner__content, .accordion, .two-col__video, .two-col, .main,
.container-s,
.featured-services__intro {
    padding: 0 1em;
  }
}

.container-s, .featured-services__intro {
  max-width: var(--container-s);
}

.main {
  max-width: var(--content-width);
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  flex: 1;
}

.text--white h1, .text--white h2, .text--white h3, .text--white h4, .text--white h5, .text--white h6, .text--white p, .text--white ul li {
  color: white;
}

.bkg--white {
  background-color: white;
}
.bkg--white + .bkg--white {
  margin-top: 0;
  padding-top: 0;
}
.bkg--grey {
  background-color: var(--color-grey);
}
.bkg--black {
  background-color: var(--color-black);
  color: white;
}
.bkg--grad {
  background: black;
  background: linear-gradient(90deg, var(--color-grey-dark) 0%, var(--color-primary) 100%);
  color: white;
}
.bkg--services {
  background-position: calc(100% + 20px) -60px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-image: url("../../src/icons/services.svg");
}
.bkg--casestudy {
  background-position: -20px calc(100% + 120px);
  background-size: 45%;
  background-repeat: no-repeat;
  background-image: url("../../src/icons/casestudy.svg");
}

.txt--red {
  color: var(--color-primary);
}

.sp {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sp {
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sp {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }
}

.sp--bottom {
  padding-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sp--bottom {
    padding-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sp--bottom {
    padding-bottom: var(--spacing-xl);
  }
}

.sp--top {
  padding-top: var(--spacing);
}
@media (min-width: 50em) {
  .sp--top {
    padding-top: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sp--top {
    padding-top: var(--spacing-xl);
  }
}

.sm {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sm {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sm {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }
}

.sm--bottom {
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .sm--bottom {
    margin-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sm--bottom {
    margin-bottom: var(--spacing-xl);
  }
}

.sm--top {
  margin-top: var(--spacing);
}
@media (min-width: 50em) {
  .sm--top {
    margin-top: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .sm--top {
    margin-top: var(--spacing-xl);
  }
}

.content .lead, .content .careers__content-meta__item,
.content-block .lead,
.content-block .careers__content-meta__item {
  font-weight: var(--font-weight-normal);
}
.content a,
.content-block a {
  color: var(--link-color);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-hover-color);
          text-decoration-color: var(--link-hover-color);
}
.content a:hover,
.content-block a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.content__careers,
.content-block__careers {
  margin-left: 0;
  padding-bottom: var(--spacing-s);
}
@media (min-width: 50em) {
  .content__careers,
.content-block__careers {
    width: 66.6666666667%;
  }
}
.content__careers h2, .content__careers h3, .content__careers h4,
.content-block__careers h2,
.content-block__careers h3,
.content-block__careers h4 {
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.75rem;
}
.content__careers h2:not(:first-child), .content__careers h3:not(:first-child), .content__careers h4:not(:first-child),
.content-block__careers h2:not(:first-child),
.content-block__careers h3:not(:first-child),
.content-block__careers h4:not(:first-child) {
  margin-top: var(--spacing);
}
.content__title,
.content-block__title {
  padding-top: calc(var(--spacing) * 2);
  padding-bottom: var(--spacing);
  margin-bottom: var(--spacing-xs);
  border-bottom: 2px solid var(--color-primary);
}
.content__title h1,
.content-block__title h1 {
  font-size: var(--font-size-h1-small);
}
@media (min-width: 50em) {
  .content__title,
.content-block__title {
    padding-right: 100px;
    padding-top: calc(var(--spacing-l) * 1.5);
    padding-bottom: var(--spacing-l);
  }
}
@media (min-width: 80em) {
  .content__title,
.content-block__title {
    padding-top: calc(var(--spacing-xl) * 1.5);
    padding-bottom: var(--spacing-xl);
  }
}
@media (min-width: 50em) {
  .content__excerpt,
.content-block__excerpt {
    width: 65%;
    margin-left: 0;
  }
}
.content__content,
.content-block__content {
  max-width: var(--container-s);
  margin-top: var(--spacing-xs);
  margin-right: auto;
  margin-left: auto;
}
.content__pagination,
.content-block__pagination {
  padding-bottom: var(--spacing);
  border-bottom: 2px solid var(--color-text-base);
}
.content__pagination a,
.content-block__pagination a {
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}
.content__pagination [rel=prev],
.content-block__pagination [rel=prev] {
  padding-left: 2rem;
  margin-right: 2rem;
  position: relative;
}
.content__pagination [rel=prev]:before,
.content-block__pagination [rel=prev]:before {
  content: url("../../src/icons/news-prev-arrow.svg");
  position: absolute;
  width: 22px;
  height: 9px;
  left: 0;
  top: 0;
  transform: translateY(-3px);
}
.content__pagination [rel=next],
.content-block__pagination [rel=next] {
  padding-right: 2rem;
  position: relative;
}
.content__pagination [rel=next]:before,
.content-block__pagination [rel=next]:before {
  content: url("../../src/icons/news-next-arrow.svg");
  position: absolute;
  width: 22px;
  height: 9px;
  right: 0;
  top: 0;
  transform: translateY(-3px);
}
.content blockquote,
.content-block blockquote {
  max-width: none;
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: var(--spacing-l) 0;
}
.content figure,
.content-block figure {
  width: 120%;
  max-width: 120%;
  position: relative;
  left: -10%;
  margin: var(--spacing) 0;
}
.content figure img,
.content-block figure img {
  width: 100%;
}
.content figcaption,
.content-block figcaption {
  padding: 1em 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-dark);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey-light);
}
.content ul,
.content-block ul {
  list-style: disc;
  margin-top: 1.5em;
  padding-left: 1rem;
}
.content ul li,
.content-block ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.content ul li:before,
.content-block ul li:before {
  content: "·";
  position: absolute;
  transform: translateX(-15px);
  font-size: 25px;
  line-height: 25px;
}
.content li,
.content-block li {
  margin-bottom: 0.25em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon--small {
  width: 13px;
  height: 13px;
}

.icon--medium {
  width: 26px;
  height: 26px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--xlarge {
  width: 40px;
  height: 40px;
}

.icon--scale {
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon--offset {
  margin-right: 5px;
}

.btn,
input[type=button],
input[type=submit],
button {
  display: inline-block;
  border-radius: 60px;
  padding: 0.4rem 1.8rem;
  border: none;
  color: white;
  background-color: var(--color-primary);
  font-family: var(--display-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.btn:hover, .btn:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
  color: white;
  background-color: var(--color-primary-light);
}
.btn a,
input[type=button] a,
input[type=submit] a,
button a {
  color: white;
  text-decoration: none;
}
.btn a:hover, .btn a:focus,
input[type=button] a:hover,
input[type=button] a:focus,
input[type=submit] a:hover,
input[type=submit] a:focus,
button a:hover,
button a:focus {
  text-decoration: none;
}
.btn + .btn,
input[type=button] + .btn,
input[type=submit] + .btn,
button + .btn {
  margin-left: 0.5rem;
}

.btn--margin {
  margin-top: 1.5rem;
}

.btn-small {
  padding: 0.2rem 1rem;
}

.btn--secondary {
  background-color: white;
  color: var(--color-primary);
}
.btn--secondary:hover, .btn--secondary:focus {
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.8);
}
.btn--secondary a {
  color: var(--color-primary);
  text-decoration: none;
}
.btn--secondary a:hover, .btn--secondary a:focus {
  text-decoration: none;
}

.btn--outline,
.gform_save_link {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: calc(0.4rem - 2px) calc(1.8rem - 2px);
}
.btn--outline:hover, .btn--outline:focus,
.gform_save_link:hover,
.gform_save_link:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

p + p .btn {
  margin-top: 1.5rem;
}

.link {
  text-decoration: underline;
}
.link:hover {
  color: var(--color-primary);
}

.two-col {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .two-col {
    flex-direction: row;
  }
}
.two-col__item {
  width: 100%;
}
@media (min-width: 50em) {
  .two-col__item {
    width: 50%;
    padding: 0 1rem;
  }
}
.two-col__item h2, .two-col__item h3, .two-col__item h4, .two-col__item h5 {
  padding-right: 2rem;
}
.two-col__item:first-of-type {
  margin-bottom: 1.5rem;
}
@media (min-width: 50em) {
  .two-col__item:first-of-type {
    margin-bottom: 0;
    padding-left: 0;
  }
}
@media (min-width: 50em) {
  .two-col__item:last-of-type {
    padding-right: 0;
  }
}
.two-col__video {
  margin-top: var(--spacing-s);
  height: 50vw;
  max-height: calc(var(--container) / 2);
}

.accordion h2 {
  margin-bottom: 3rem;
}

.accordion__item {
  background-color: var(--color-grey);
  margin-bottom: 1rem;
}

.accordion__handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
}
.accordion__handle:hover, .accordion__handle:focus {
  background-color: var(--color-grey);
}

.accordion__handle.is-active .accordion__icon {
  transform: translateY(-5px) rotate(0deg);
  color: white;
}

.accordion__title {
  margin: 0 !important;
  padding: 1rem 4rem 1rem 20px;
  color: var(--color-text-dark);
  font-size: var(--font-size-h4);
  flex: 1;
}
@media (min-width: 50em) {
  .accordion__title {
    padding: 1rem calc(var(--spacing-s) + 2rem) 1rem var(--spacing-s);
  }
}
.is-active .accordion__title {
  color: white;
  background-color: var(--color-primary);
}

.accordion__icon {
  position: absolute;
  right: 1rem;
  width: 32px;
  height: 20px;
  transform: translateY(5px) rotate(180deg);
}
@media (min-width: 50em) {
  .accordion__icon {
    right: var(--spacing-s);
  }
}
.accordion__icon .icon {
  color: var(--color-text-dark);
  width: 32px;
  height: 20px;
}
.is-active .accordion__icon:before {
  transform: rotate(90deg);
}
.is-active .accordion__icon:after {
  transform: rotate(180deg);
}
.is-active .accordion__icon .icon {
  color: white;
}

.accordion__body {
  display: none;
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-s) var(--spacing-xs);
  background-color: white;
}
@media (min-width: 50em) {
  .accordion__body {
    padding: var(--spacing-xs) var(--spacing-s) var(--spacing-s) var(--spacing-s);
  }
}
.accordion__body p:first-child {
  margin-top: 0;
}
.accordion__body.is-open {
  display: block;
}

.banner {
  min-height: 85vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-color: var(--color-grey-dark);
  display: flex;
  padding-top: var(--spacing-xxl);
  overflow: hidden;
}
@media (max-width: 49.99em) {
  .banner {
    background-image: none !important;
  }
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
  .banner {
    min-height: 100vh;
  }
}
.banner__content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner__content h1 {
  margin-bottom: var(--spacing);
}
@media (min-width: 80em) {
  .banner__content h1 {
    max-width: 80%;
  }
}
.banner__content--small h1 {
  margin-bottom: 0;
  font-size: var(--font-size-h1-small);
}
.banner__content .btn {
  margin-top: 2rem;
}
.banner__text {
  margin-top: auto;
  width: 100%;
  border-top: 2px solid var(--color-primary);
  padding: var(--spacing-xs) 10% var(--spacing-xs) 0;
}
@media (min-width: 50em) {
  .banner__text {
    padding: var(--spacing-s) 30% var(--spacing-s) 0;
  }
}
.banner--notext {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
  align-items: center;
}
.banner__image {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  min-width: calc(100% + 2px);
  min-height: calc(100% + 2px);
  display: block;
}
@media (min-width: 50em) {
  .banner__image {
    display: none;
  }
}
.banner--video {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background: black;
}
@media (min-width: 50em) {
  .banner--video {
    height: 100%;
  }
}
.banner--video video {
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  min-height: 85vh;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--color-primary);
  background: linear-gradient(90deg, rgba(18, 18, 18, 0.8) 50%, #db251c 100%);
  opacity: 0.7;
}
.banner__overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  right: 0;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  opacity: 0.5;
}

.careers__item {
  position: relative;
  width: 100%;
  padding: var(--spacing-xs);
}
@media (min-width: 50em) {
  .careers__item {
    padding: var(--spacing-s);
  }
}
.careers__item:nth-child(odd) {
  background-color: var(--color-grey);
}
.careers__item h3 {
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.75rem;
}
.careers__content {
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  .careers__content {
    width: 80%;
  }
}
.careers__content-meta {
  margin-bottom: 1rem;
}
.careers__content-meta__item {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-heavy);
}
.careers__content-meta__item div {
  width: calc(100% - 40px);
}
.careers__content-meta .icon {
  margin-right: 0.75rem;
  width: 30px;
  height: 40px;
  margin-bottom: auto;
}
@media (min-width: 50em) {
  .careers__apply {
    width: 66.6666666667%;
  }
}
.careers__apply .gform_wrapper {
  background-color: #F9F9F9;
  padding: var(--spacing-xs);
  margin-top: 2rem;
}
@media (min-width: 50em) {
  .careers__apply .gform_wrapper {
    padding: var(--spacing-s) var(--spacing) var(--spacing) var(--spacing);
  }
}
.careers__apply .gform_wrapper .gf_step_number {
  display: none !important;
}
.careers__apply .gform_wrapper input[type=email],
.careers__apply .gform_wrapper input[type=number],
.careers__apply .gform_wrapper input[type=search],
.careers__apply .gform_wrapper input[type=text],
.careers__apply .gform_wrapper input[type=tel],
.careers__apply .gform_wrapper input[type=url],
.careers__apply .gform_wrapper input[type=password],
.careers__apply .gform_wrapper textarea,
.careers__apply .gform_wrapper select {
  border: 1px solid #CBCBCB;
}

.case-studies-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 50em) {
  .case-studies-list {
    flex-direction: row;
  }
}
.case-studies-list__image {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: none;
}
@media (min-width: 50em) {
  .case-studies-list__image {
    height: 30vw;
    max-height: calc(var(--container) * 0.33);
  }
}
.case-studies-list__image img {
  display: block;
  opacity: 1;
}
@media (min-width: 50em) {
  .case-studies-list__image img {
    display: none;
    opacity: 0;
  }
}
.case-studies-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  text-decoration: none;
  margin: 0 0 1rem 0;
}
@media (min-width: 50em) {
  .case-studies-list__item {
    width: calc(50% - 0.75rem);
    margin: 0 0.75rem 1.5rem 0.75rem;
  }
}
@media (min-width: 50em) {
  .case-studies-list__item:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (min-width: 50em) {
  .case-studies-list__item:last-of-type, .case-studies-list__item:nth-child(2n+2) {
    margin-right: 0;
  }
}
.case-studies-list__item:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  background-color: var(--color-grey-dark);
  transition: transform 0.1s ease-in-out;
}
.case-studies-list__item:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: white;
}
.case-studies-list__item:hover h3 {
  text-decoration: underline;
}
.case-studies-list__item:hover .link {
  color: var(--color-primary);
}
.case-studies-list__item:hover:after {
  transform: scale(1.05, 1.05);
  background-color: var(--color-grey-dark);
}
.case-studies-list__item .link {
  margin-top: 1rem;
}
.case-studies-list__item img {
  z-index: 1;
}
.case-studies-list__button {
  width: 100%;
  text-align: center;
  margin: var(--spacing-s) 0;
}
.case-studies-list__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: var(--font-weight-light);
  padding: var(--spacing-s) var(--spacing-s) var(--spacing) var(--spacing-s);
}

.contact-form__title {
  width: 100%;
  margin-bottom: var(--spacing);
}
@media (min-width: 50em) {
  .contact-form__title {
    width: 50%;
  }
}
.contact-form .social-links__item a {
  color: white;
}
.contact-form .social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem !important;
  background-color: var(--color-text-base);
}
.contact-form .social-links__link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.contact-form .social-links__link .icon {
  width: 24px;
  height: 24px;
  fill: white;
}
.contact-form .social-links__link .icon-facebook {
  width: 28px;
  height: 28px;
}

.content-block {
  max-width: var(--container-s);
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 49.99em) {
  .cta {
    padding: 0;
  }
}
.cta__content {
  text-align: center;
  padding: var(--spacing-s);
}
@media (min-width: 70em) {
  .cta__content {
    padding: var(--spacing) var(--spacing-xxl);
  }
}

@media (max-width: 49.99em) {
  .cta.bkg--white + .bkg--white {
    padding-top: var(--spacing-s);
  }
}

.featured-news h2 {
  margin-bottom: 2rem;
}

.related-news h2 {
  margin-bottom: 3rem;
}

.featured-news-list .news-list__item {
  width: 100%;
  flex-direction: column;
}
@media (min-width: 50em) {
  .featured-news-list .news-list__item {
    flex-direction: row;
    width: calc(33.3333333333% - 70px);
  }
}
.featured-news-list .news-list__item:nth-child(-n+3) {
  margin-bottom: 3rem;
}
@media (min-width: 50em) {
  .featured-news-list .news-list__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}
.featured-news-list .news-list__item:first-child {
  width: 100%;
  margin-right: 0;
  font-size: var(--font-size-lead);
}
@media (min-width: 50em) {
  .featured-news-list .news-list__item:first-child {
    flex-direction: row;
    width: calc(33.3333333333% - 70px);
  }
}
.featured-news-list .news-list__item:first-child .icon-news {
  width: 17px;
  top: 7px;
  position: absolute;
}
@media (max-width: 49.99em) {
  .featured-news-list .news-list__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 50em) {
  .featured-news-list .news-list__item:nth-child(3n+3) {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 50em) {
  .featured-news-list .news-list__item:nth-child(3n+2) {
    margin-right: var(--spacing-l);
    margin-left: var(--spacing-l);
  }
}

.featured-services__intro {
  text-align: center;
  margin-bottom: var(--spacing);
}
.featured-services__title {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-primary);
}
.featured-services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 50em) {
  .featured-services-list {
    flex-direction: row;
  }
}
.featured-services-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  text-decoration: none;
  margin: 0 0 1rem 0;
}
@media (min-width: 50em) {
  .featured-services-list__item {
    width: calc(33.3333333333% - 1rem);
    margin: 0 0.75rem 1.5rem 0.75rem;
  }
}
@media (min-width: 50em) {
  .featured-services-list__item:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media (min-width: 50em) {
  .featured-services-list__item:last-of-type, .featured-services-list__item:nth-child(3n+3) {
    margin-right: 0;
  }
}
.featured-services-list__item:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  background-color: var(--color-grey-dark);
  transition: transform 0.1s ease-in-out;
}
.featured-services-list__item:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: white;
}
.featured-services-list__item:hover h3 {
  text-decoration: underline;
}
.featured-services-list__item:hover:after {
  transform: scale(1.05, 1.05);
  background-color: var(--color-grey-dark);
}
.featured-services-list__item img {
  z-index: 1;
}
.featured-services-list__image {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: none;
}
@media (min-width: 50em) {
  .featured-services-list__image {
    height: 20vw;
    max-height: calc(var(--container) * 0.2);
  }
}
.featured-services-list__image img {
  display: block;
  opacity: 1;
}
@media (min-width: 50em) {
  .featured-services-list__image img {
    display: none;
    opacity: 0;
  }
}
.featured-services-list__button {
  width: 100%;
  text-align: center;
  margin: var(--spacing-xs) 0 var(--spacing) 0;
}
.featured-services-list__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: var(--font-weight-light);
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing) var(--spacing-xs);
}

.files {
  display: flex;
  flex-direction: column;
}
.files-list {
  display: flex;
  flex-wrap: wrap;
}
.files-list__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 5px solid var(--color-text-base);
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  text-decoration: none;
}
@media (min-width: 50em) {
  .files-list__item {
    margin: 1.5rem 1rem 0 1rem;
    width: calc(33.3333333333% - 1.6rem);
  }
}
@media (min-width: 70em) {
  .files-list__item {
    margin: 1.5rem 1rem 0 1rem;
    width: calc(25% - 1.6rem);
  }
}
.files-list__item:first-of-type {
  margin-left: 0;
}
@media (min-width: 50em) {
  .files-list__item:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  .files-list__item:nth-child(3n+3) {
    margin-right: 1rem;
  }
}
@media (min-width: 50em) {
  .files-list__item:nth-child(4n+4) {
    margin-left: 0;
  }
}
@media (min-width: 70em) {
  .files-list__item:nth-child(4n+4) {
    margin-left: 1rem;
    margin-right: 0;
  }
}
@media (min-width: 50em) {
  .files-list__item:nth-child(3n+4) {
    margin-left: 0;
  }
}
@media (min-width: 70em) {
  .files-list__item:nth-child(3n+4) {
    margin-left: 1rem;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  .files-list__item:nth-child(4n+5) {
    margin-left: 0;
  }
}
.files-list__item p {
  margin: 0;
}
.files-list__item p:last-of-type {
  margin-bottom: 1rem;
}
.files-list__item span {
  margin-top: 1rem;
  text-decoration: underline;
  margin-top: auto;
}
.files-list__item:hover {
  border: 5px solid var(--color-primary);
  text-decoration: none;
}
.files-list__item--thumb {
  max-width: 50%;
}

.form-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .form-block {
    flex-direction: column;
  }
}
.form-block__header {
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-s);
  background-color: var(--color-secondary);
}
@media (min-width: 50em) {
  .form-block__header {
    padding: var(--spacing-s) var(--spacing-l);
  }
}
.form-block__header-content {
  position: relative;
  color: white;
}
.form-block__header-content .btn, .form-block__header-content .btn--secondary {
  margin-top: 0;
  color: var(--color-secondary);
}
.form-block__header-content .btn a, .form-block__header-content .btn--secondary a {
  color: var(--color-secondary);
}
.form-block__header-content:before {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% - 8px);
  left: -1.5rem;
  top: 8px;
  background-color: white;
}
.form-block__body {
  display: flex;
  flex-direction: column;
  background: white;
  padding: var(--spacing-xs);
}
@media (min-width: 50em) {
  .form-block__body {
    flex-direction: row;
    padding: var(--spacing-l);
  }
}
.form-block__body-content {
  width: 100%;
}
@media (min-width: 50em) {
  .form-block__body-content {
    width: 50%;
    padding-right: 2rem;
  }
}
.form-block__body-form {
  width: 100%;
}
@media (min-width: 50em) {
  .form-block__body-form {
    width: 50%;
    padding-left: 1rem;
  }
}

.images-slider img {
  width: 100%;
}

.link-list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .link-list {
    flex-direction: row;
  }
}
.link-list__item {
  position: relative;
  background-color: white;
  border-radius: var(--border-radius);
  width: 100%;
  text-decoration: none;
  color: var(--color-text-base);
  margin: 0 0rem 1.5rem 0;
  transition: transform 0.1s ease-in-out;
}
@media (min-width: 50em) {
  .link-list__item {
    width: 33.3333333333%;
    margin: 0 0.75rem;
  }
}
.link-list__item:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  background-color: white;
  border-radius: var(--border-radius);
  transition: transform 0.1s ease-in-out;
}
.link-list__item:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: var(--color-text-base);
}
.link-list__item:hover h3 {
  text-decoration: underline;
}
.link-list__item:hover .btn {
  background-color: var(--color-primary-light);
}
.link-list__item:hover:after {
  transform: scale(1.05, 1.05);
}
@media (min-width: 50em) {
  .link-list__item:first-of-type {
    margin-left: 0;
  }
}
.link-list__item:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 50em) {
  .link-list__item:last-of-type {
    margin-right: 0;
  }
}
.link-list__content {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-s);
}
.link-list__content p:last-of-type {
  margin-bottom: 1.5rem;
}
.link-list__content .btn {
  margin-top: auto;
}
.link-list__image {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
}
.link-list__image img {
  width: 100%;
  height: 100%;
}

.news {
  padding-bottom: 0;
  padding-bottom: calc(var(--spacing) - 2rem);
}
@media (min-width: 50em) {
  .news {
    padding-bottom: calc(var(--spacing-l) - 2rem);
  }
}
@media (min-width: 80em) {
  .news {
    padding-bottom: calc(var(--spacing-xl) - 2rem);
  }
}

.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.news-list__item {
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: var(--spacing);
  font-size: var(--font-size-lead);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-base);
  text-indent: 1.5rem;
  text-decoration: none;
  border-bottom: 5px solid var(--color-text-base);
}
@media (min-width: 50em) {
  .news-list__item {
    width: calc(33.3333333333% - 70px);
  }
}
.news-list__item:first-child {
  width: 100%;
  margin-right: 0;
  font-size: var(--font-size-h2);
}
@media (min-width: 50em) {
  .news-list__item:first-child {
    margin-right: calc(33.3333333333% + 40px);
  }
}
.news-list__item:first-child .icon-news {
  width: 17px;
  top: 25px;
  position: absolute;
}
@media (min-width: 50em) {
  .news-list__item:nth-child(3n+3) {
    margin-right: var(--spacing-l);
    margin-left: var(--spacing-l);
  }
}
.news-list__item:hover {
  color: var(--color-primary);
  border-bottom: 5px solid var(--color-primary);
}
.news-list__item .icon-news {
  width: 17px;
  top: 7px;
  position: absolute;
}

@media (max-width: 49.99em) {
  .quote {
    padding: 0;
  }
}
.quote__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--spacing-s);
  border-bottom: 10px solid var(--color-primary);
}
@media (min-width: 50em) {
  .quote__content {
    padding: var(--spacing);
  }
}
.quote__content img {
  width: 40px;
  margin-bottom: var(--spacing-s);
}

.stats__content {
  padding: var(--spacing-xs);
}
@media (min-width: 50em) {
  .stats__content {
    padding: var(--spacing);
  }
}
.stats__content h3 {
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.75rem;
}
.stats-list {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-s);
}
@media (min-width: 50em) {
  .stats-list {
    flex-direction: row;
  }
}
.stats-list__item {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 50em) {
  .stats-list__item {
    width: 33.3333333333%;
    border-left: 1px solid var(--color-black);
    margin-bottom: 0;
  }
}
.stats-list__item:first-child {
  border: 0;
}
.stats-list__item h5 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-heavy);
  color: var(--color-primary);
  margin-bottom: 1rem;
}
@media (min-width: 50em) {
  .stats-list__item h5 {
    font-size: var(--font-size-h2);
  }
}
.stats-list__item p {
  font-weight: var(--font-weight-bold);
}

.team-members-list {
  display: flex;
  flex-wrap: wrap;
}
.team-members__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.75rem);
  text-decoration: none;
  margin: 0 0.75rem 1rem 0.75rem;
  order: 2;
}
@media (min-width: 70em) {
  .team-members__item {
    width: calc(25% - 1.5rem);
    margin: 0 1rem 1.5rem 1rem;
  }
}
@media (min-width: 50em) {
  .team-members__item:nth-child(4n+1), .team-members__item:first-of-type {
    margin-left: 0;
  }
}
@media (max-width: 69.99em) {
  .team-members__item:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (max-width: 69.99em) {
  .team-members__item:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media (min-width: 50em) {
  .team-members__item:last-of-type, .team-members__item:nth-child(4n+4) {
    margin-right: 0;
  }
}
.team-members__item h4 {
  margin-bottom: 0rem;
}
.team-members__item span {
  margin-bottom: 0rem;
  color: var(--color-primary);
}
.team-members__item img {
  z-index: 1;
}
.team-members__item-featured {
  width: 100%;
  border-bottom: 2px solid var(--color-grey-dark);
  margin: 0 0 2rem 0;
}
@media (min-width: 50em) {
  .team-members__item-featured {
    width: 50%;
    margin-top: 0;
    margin-bottom: var(--spacing-s);
  }
}
@media (min-width: 50em) {
  .team-members__item-featured:nth-child(2n+1) {
    width: calc(50% - var(--spacing-s));
    margin-right: var(--spacing-s);
  }
}
@media (min-width: 50em) {
  .team-members__item-featured:nth-child(2n+2) {
    width: calc(50% - var(--spacing-s));
    margin-left: var(--spacing-s);
  }
}
.team-members__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-xs) 0;
}
.team-members__content .icon {
  width: 35px;
  height: 30px;
  margin: 1rem 0 0.25rem 0;
}
.team-members__bio {
  margin-top: 1rem;
  font-size: var(--font-size-small);
  padding-right: var(--spacing-s);
}

.video {
  height: 50vw;
  max-height: calc(var(--container) / 2);
}
.video iframe {
  width: 100%;
  height: 100%;
}
.video_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.video_list__item {
  width: 100%;
  padding-bottom: 1rem;
  height: 50vw;
  max-height: calc(var(--container) / 2);
}
.video_list__item iframe {
  width: 100%;
  height: 100%;
}
@media (min-width: 50em) {
  .video_list__item {
    height: calc(var(--container) / 6);
    max-height: calc(var(--container) / 2);
  }
}
@media (min-width: 70em) {
  .video_list__item {
    height: calc(var(--container) / 6);
    max-height: calc(var(--container) / 3);
  }
}
@media (min-width: 50em) {
  .video_list__item {
    width: 50%;
    padding: 0 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 69.99em) {
  .video_list__item:nth-child(odd) {
    padding-left: 0;
  }
  .video_list__item:nth-child(even) {
    padding-right: 0;
  }
}
@media (min-width: 70em) {
  .video_list__item {
    width: 33.3333333333%;
    padding: 0 0.75rem;
  }
  .video_list__item:nth-child(3n-2) {
    padding-left: 0;
  }
  .video_list__item:nth-child(3) {
    padding-right: 0;
  }
}

.u-bold {
  font-weight: bold !important;
}

.u-semibold {
  font-weight: 600 !important;
}

.u-regular {
  font-weight: normal !important;
}

.u-light {
  font-weight: 300 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-caps {
  text-transform: uppercase !important;
}

.u-left-align {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right-align {
  text-align: right !important;
}

.mt-xxl {
  margin-top: var(--spacing-xxl) !important;
}

.mt-xl {
  margin-top: var(--spacing-xl) !important;
}

.mt-l {
  margin-top: var(--spacing-l) !important;
}

.mt {
  margin-top: var(--spacing) !important;
}

.mt-s {
  margin-top: var(--spacing-s) !important;
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl) !important;
}

.mb-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.mb-l {
  margin-bottom: var(--spacing-l) !important;
}

.mb {
  margin-bottom: var(--spacing) !important;
}

.mb-s {
  margin-bottom: var(--spacing-s) !important;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hide {
  display: none;
}

@media (max-width: 49.99em) {
  .hidemobile {
    display: none !important;
  }
}

@media (min-width: 50em) {
  .hidedesktop {
    display: none !important;
  }
}
