@charset "UTF-8";
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 30em) {
  body:before {
    content: "small ≥ 30em (30em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "small-major ≥ 40em (40em)";
  }
}
@media (min-width: 50em) {
  body:before {
    content: "medium ≥ 50em (50em)";
  }
}
@media (min-width: 60em) {
  body:before {
    content: "medium-major ≥ 60em (60em)";
  }
}
@media (min-width: 70em) {
  body:before {
    content: "large ≥ 70em (70em)";
  }
}
@media (min-width: 80em) {
  body:before {
    content: "xlarge ≥ 80em (80em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxlarge ≥ 90em (90em)";
  }
}
@media (min-width: 100em) {
  body:before {
    content: "xxxlarge ≥ 100em (100em)";
  }
}

:root {
  --body-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --display-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: calc(1rem + 0.15vw);
  --font-size-lead: calc(1.2rem + 0.1vw);
  --font-size-small: calc(0.9rem + 0.1vw);
  --font-size-h1: calc(2rem + 0.2vw);
  --font-size-h2: calc(1.8rem + 0.2vw);
  --font-size-h3: calc(1.5rem + 0.2vw);
  --font-size-h4: calc(1.3rem + 0.2vw);
  --font-size-h5: calc(1.2rem + 0.2vw);
  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
  --font-weight-heavy: var(--font-weight-bold);
  --line-height: 1.5;
  --line-height-headings: 1.2;
  --color-grey-dark: #6a6a6a;
  --color-grey: #ddd;
  --color-grey-light: #efefef;
  --color-primary: #59BACC;
  --color-secondary: #58AD69;
  --color-tertiary: #FFBC49;
  --color-quaternary: #E2574C;
  --color-text-base: #333;
  --color-text-dark: #181822;
  --color-text-reversed: #fff;
  --color-text-link: #0087D0;
  --color-text-hover: #003451;
  --color-facebook: #3B5998;
  --color-twitter: #1DA1F2;
  --color-instagram: #262626;
  --color-youtube: #cc181e;
  --color-linkedin: #0077B5;
  --body-background-color: #fff;
  --border-radius: 16px;
  --spacing-xxl: 3em;
  --spacing-xl: 2em;
  --spacing-l: 1.5em;
  --spacing: 1em;
  --spacing-s: 0.5em;
  --spacing-xs: 0.25em;
  --container-width: 75rem;
  --container-width-l: 100rem;
  --content-width: 50rem;
}
@media (min-width: 70em) {
  :root {
    --font-size-h1: calc(3.2rem + 0.2vw);
    --font-size-h2: calc(2rem + 0.2vw);
    --font-size-h3: calc(1.6rem + 0.2vw);
    --font-size-h4: calc(1.4rem + 0.2vw);
    --font-size-h5: calc(1.2rem + 0.2vw);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: var(--font-size);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--body-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
  color: var(--color-text-base);
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-nav {
  background: #eee;
  color: var(--color-text-base);
  border-radius: 8px;
}

p {
  margin-top: var(--spacing-l);
  margin-bottom: 0;
}

p.lead {
  font-size: var(--font-size-lead);
}

ul,
ol {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin: 0;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-dark);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: var(--line-height-headings);
  font-weight: var(--font-weight-bold);
  color: var(--heading-color);
}

h1, .heading-1 {
  font-size: var(--font-size-h1);
}

h2, .heading-2 {
  font-size: var(--font-size-h2);
}

h3, .heading-3 {
  font-size: var(--font-size-h3);
}

h4, .heading-4 {
  font-size: var(--font-size-h4);
}

h5, .heading-5 {
  font-size: var(--font-size-h5);
}

code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75em;
  font-style: normal;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

pre {
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: auto;
  width: calc(96vw - 2em);
  line-height: 1.3;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 0;
}

figcaption p {
  font-size: var(--font-size-small);
}

table {
  margin-bottom: 1em;
}

table th,
table td {
  padding: 0.5em;
  border-bottom: 1px solid var(--color-grey-light);
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

table th {
  border-width: 2px;
}

table tr:last-child td {
  border-bottom: none;
}

table tr:nth-child(even) {
  background: var(--color-grey-light);
}

table tbody tr:hover {
  background: var(--color-grey);
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--color-grey-dark);
  outline: 0;
}

label {
  display: block;
  margin: 0.5em 0;
  font-weight: 600;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

input[type=submit],
input[type=reset],
input[type=button] {
  display: block;
  padding: 1em;
  margin: 0.5em 0;
  background: var(--color-primary);
  color: #fff;
  border-radius: var(--border-radius);
  transition: all 0.2s linear;
  border: 0;
}

input[type=submit].center,
input[type=reset].center,
input[type=button].center {
  margin: 0 auto;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
  background: var(--color-grey);
  text-decoration: none;
  color: #fff;
}

.required {
  color: #BF5D58;
}

/* Generate block colours */
.has-white-color {
  color: #fff !important;
}

.has-white-background-color {
  background-color: #fff !important;
}

.has-black-color {
  color: #000 !important;
}

.has-black-background-color {
  background-color: #000 !important;
}

.has-primary-color {
  color: var(--color-primary) !important;
}

.has-primary-background-color {
  background-color: var(--color-primary) !important;
}

.has-secondary-color {
  color: var(--color-secondary) !important;
}

.has-secondary-background-color {
  background-color: var(--color-secondary) !important;
}

.has-tertiary-color {
  color: var(--color-tertiary) !important;
}

.has-tertiary-background-color {
  background-color: var(--color-tertiary) !important;
}

.has-quaternary-color {
  color: var(--color-quaternary) !important;
}

.has-quaternary-background-color {
  background-color: var(--color-quaternary) !important;
}

/* Stop links being clickable in the block editor */
.acf-block-preview a {
  pointer-events: none !important;
}

/* Add bullets to list */
.block-editor-block-list__block {
  list-style: disc;
}

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: var(--content-width);
  /* Post title styling */
}
/* Main column width */
.wp-block {
  max-width: var(--content-width);
  /* Wide column width */
}
.wp-block[data-align=wide], .wp-block[data-align=full] {
  max-width: none;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-image {
  line-height: 0;
}

.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100%;
}

.global-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container, .site-footer__inner, .site-header__inner, .main {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: var(--container-width);
}

.main {
  max-width: var(--content-width);
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  flex: 1;
}

.content > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: var(--spacing-l);
  margin-bottom: 0;
}
.content a {
  color: var(--link-color);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-hover-color);
          text-decoration-color: var(--link-hover-color);
}
.content a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
.content blockquote {
  max-width: none;
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: var(--spacing-l) 0;
}
.content figure {
  max-width: none;
  margin: var(--spacing-xl) 0;
}
.content figcaption {
  padding: 1em 0;
  font-size: var(--font-size-xs);
  color: var(--color-text-dark);
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey-light);
}
.content ul {
  list-style: disc;
  margin-top: 1.5em;
  padding-left: 1rem;
}
.content li {
  margin-bottom: 0.25em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon--small {
  width: 13px;
  height: 13px;
}

.icon--medium {
  width: 26px;
  height: 26px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon--xlarge {
  width: 40px;
  height: 40px;
}

.icon--scale {
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon--offset {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 0 3rem;
  border: 1px solid var(--color-grey);
  color: var(--color-text-dark);
  height: 40px;
  line-height: 40px;
  font-family: var(--display-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn:hover, .btn:focus {
  border-color: var(--color-grey-dark);
  outline: 0;
  color: var(--color-grey-dark);
  text-decoration: none;
  position: relative;
  top: -1px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.btn--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-text-reversed);
}
.btn--primary:hover, .btn--primary:focus {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.global-alert {
  background: var(--color-primary);
  text-align: center;
  padding: 1rem;
}

.global-alert p {
  color: white;
  margin: 0;
}

.cookie-alert {
  display: none;
  background: orange;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.cookie-alert.is-visible {
  display: block;
}

.cookie-alert__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-s) var(--spacing-l);
}

.cookie-alert__inner p {
  margin: 0;
  line-height: 1;
  font-size: var(--font-size-small);
}

.cookie-alert__btn {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.unsupported-browser {
  display: none;
  background: var(--color-grey);
  text-align: center;
}

.unsupported-browser__inner {
  padding: var(--spacing);
}

.unsupported-browser h2 {
  font-size: var(--font-size-h4);
  margin: 0;
}

.unsupported-browser p {
  margin: 0;
}

.site-header {
  display: flex;
  justify-content: space-between;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-header__logo {
  font-size: 2rem;
  margin: 0;
}

.site-header__nav {
  display: none;
}
@media (min-width: 50em) {
  .site-header__nav {
    display: block;
  }
}

.site-header__nav ul {
  display: flex;
}

.site-header__nav li {
  margin-left: 1rem;
}

.site-header__menu-btn {
  background: black;
  color: white;
  border: 0;
}
@media (min-width: 50em) {
  .site-header__menu-btn {
    display: none;
  }
}

.site-footer {
  margin-top: auto;
  text-align: center;
  background-color: var(--color-primary);
  padding: var(--spacing);
}

.site-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer p {
  color: white;
  margin: 0;
  font-size: var(--font-size-small);
}

body.nav-open {
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: white;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease;
}
@media (min-width: 50em) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-toggled {
  transform: translateZ(0);
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  margin: 0 1rem;
}

.social-links__link {
  color: white;
}

.accordion {
  max-width: var(--content-width);
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  padding: 0;
}

.accordion__item {
  border-top: 1px solid var(--color-grey-light);
}

.accordion__handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: var(--spacing) 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-top: 1px solid var(--color-grey-tint);
}

.accordion__title {
  margin: 0 !important;
  color: var(--color-text-dark);
  text-transform: uppercase;
  font-size: var(--font-size-h5);
  flex: 1;
}
.is-active .accordion__title {
  color: var(--color-primary);
}

.accordion__icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 var(--spacing);
}
.accordion__icon:before, .accordion__icon:after {
  content: "";
  position: absolute;
  background: var(--color-text-base);
  transition: transform 0.25s ease-out;
}
.accordion__icon:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
.accordion__icon:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
.is-active .accordion__icon:before {
  transform: rotate(90deg);
}
.is-active .accordion__icon:after {
  transform: rotate(180deg);
}

.accordion__body {
  display: none;
  padding-bottom: var(--spacing-l);
}
.accordion__body p:first-child {
  margin-top: 0;
}
.accordion__body.is-open {
  display: block;
}

.u-bold {
  font-weight: bold !important;
}

.u-semibold {
  font-weight: 600 !important;
}

.u-regular {
  font-weight: normal !important;
}

.u-light {
  font-weight: 300 !important;
}

.u-italic {
  font-style: italic !important;
}

.u-caps {
  text-transform: uppercase !important;
}

.u-left-align {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right-align {
  text-align: right !important;
}

.mt-xxl {
  margin-top: var(--spacing-xxl) !important;
}

.mt-xl {
  margin-top: var(--spacing-xl) !important;
}

.mt-l {
  margin-top: var(--spacing-l) !important;
}

.mt {
  margin-top: var(--spacing) !important;
}

.mt-s {
  margin-top: var(--spacing-s) !important;
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl) !important;
}

.mb-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.mb-l {
  margin-bottom: var(--spacing-l) !important;
}

.mb {
  margin-bottom: var(--spacing) !important;
}

.mb-s {
  margin-bottom: var(--spacing-s) !important;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media print {
  * {
    background: #ffffff;
    color: #000000 !important;
  }

  html {
    font: 100%/1.5 Arial, serif;
  }

  /**
   * Hide
   */
  .header,
.footer {
    display: none;
  }

  /**
   * Make full-width
   */
  .unit {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}
