.featured-services {
	@extend .container;
	// display: flex;
	// flex-direction: column;
	&__intro {
		@extend .container-s;
		text-align: center;
		margin-bottom: var(--spacing);
	}
	&__title {
		padding-bottom: 1rem;
		border-bottom: 2px solid var(--color-primary);
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		// margin-bottom: 2rem;
		flex-direction: column;
        @include mq(medium) {
            flex-direction: row;
        }

		&__item {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			color: white;
			text-decoration: none;
			margin: 0 0 1rem 0;
			@include mq(medium) {
				width: calc(100% /  3 - 1rem);
				margin: 0 0.75rem 1.5rem 0.75rem;
			}
			&:nth-child(3n+1) {
				@include mq(medium) {
					margin-left: 0;
				}
			}
			&:last-of-type,
			&:nth-child(3n+3) {
				@include mq(medium) {
					margin-right: 0;
				}
			}
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 0;
				position: absolute;
				background-color: var(--color-grey-dark);
				transition: transform .1s ease-in-out;
			}
			&:hover {
				text-decoration: none;
				transition: all .2s ease-in-out;
				color: white;
				h3 {
					text-decoration: underline;
				}
				&:after {
					transform: scale(1.05,1.05);
					background-color: var(--color-grey-dark);
				}
			}
			img {
				z-index: 1;
			}
		}
		&__button {
			width: 100%;
			text-align: center;
			margin: var(--spacing-xs) 0 var(--spacing) 0;
		}
		&__content {
			height: 100%;
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			font-weight: var(--font-weight-light);
			padding: var(--spacing-xs) var(--spacing-xs) var(--spacing) var(--spacing-xs);
		}
	}
}